<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

    <h1>Worker Info</h1>

    <div>
        <table border="1">
            <tr>
                <th>LastName</th>
                <th>FirstName</th>
                <th>SecondName</th>
                <th>Age</th>
                <th>Address</th>
                <th>District</th>
                <th>County</th>
                <th>BeginTime</th>
                <th>EndTime</th>
            </tr>
            <tr>
                <td th:utext="${worker.lastName}">...</td>
                <td th:utext="${worker.firstName}">...</td>
                <td th:utext="${worker.secondName}">...</td>
                <td th:utext="${worker.age}">...</td>
                <td th:utext="${homeAddress.address}">...</td>
                <td th:utext="${homeAddress.district}">...</td>
                <td th:utext="${homeAddress.county}">...</td>
                <td th:utext="${workSchedule.beginTime}">...</td>
                <td th:utext="${workSchedule.endTime}">...</td>
            </tr>
        </table>
    </div>

</body>

</html>